:root {
  --moof: pink;
  --cull: unset;
  --woof: purple;
}

::selection {
  background: var(--moof);
  color: var(--woof); 
}

:any-link {
  --cull: pointer;
  color: inherit;
  cursor: var(--cull);
  text-decoration-style: dotted;
}

:focus {
  border-color: transparent;
  outline: thick dotted;
  text-decoration-style: solid;
}

:hover {
  text-decoration-style: double;
}

.mochi:active {
  --cull: grabbing; /* 𖤐 */
  filter: hue-rotate(72deg);
}

.charm:active {
  --cull: cell;
}

output::first-letter {
  font-weight: bold;
}

.mochi {
  cursor: var(--cull);
  filter: hue-rotate(0deg);
}

.ouija ::selection,
.mochi {
  color: var(--moof);
  background: var(--woof);
}

.ouija {
  background: var(--moof);
  color: var(--woof); 
}

.dance {
  background: linear-gradient(var(--moof), #bae, #bae, var(--woof));
  color: #323;
}

.dance ::selection {
  color: #bae;
  background: #323;
}