:root {
  --film: hue-rotate(0deg);
  --moof: pink;
  --cull: grabbing;
  --woof: purple;
  --mage: linear-gradient(
    var(--moof),
    transparent,
    transparent,
    var(--woof)
  );
}

::selection {
  background: var(--moof);
  color: var(--woof);
}

:any-link {
  --cull: pointer;
  color: inherit;
  cursor: var(--cull);
  text-decoration-style: dotted;
}

:focus {
  border-color: transparent;
  outline: thick dotted;
  text-decoration-style: solid;
}

:hover {
  text-decoration-style: double;
}

:root:active:not(:focus-within) {
                  /* 𖤐 */
  --film: hue-rotate(72deg);
}

.charm {
  --cull: cell;
}

output::first-letter {
  font-weight: bold;
}

.flute {
  --cull: grab;
  cursor: var(--cull);
  filter: var(--film);
}

.flute:active {
  --cull: grabbing;
} 

.cream ::selection {
  color: #bae;
  background: #323;
}

.ouija ::selection,
.mochi {
  color: var(--moof);
  background: var(--woof);
}

.ouija {
  background: var(--moof);
  color: var(--woof); 
}

.cream {
  --cull: zoom-in;
  background: #bae var(--mage);
  color: #323;
}

.cream:active {
  --cull: zoom-out;
}

.cream:active:not(:focus-within) {
  --mage: linear-gradient(1turn,
    var(--woof) 0%,
    var(--woof) 50%,
    var(--moof) 50%
  );
}